<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Shopping List</title>
</head>
<body style="background-color: skyblue;">
<h1 style="font:sans-serif, color:white;">Please enter your choosen items:</h1>
<br>
<form action = "http://localhost:5000/showitems" method = "post">
    <p>Item Name <input type = "text" name = "Item-name" /></p>
   <p>Item Id   <input type = "text" name = "Item-id" /></p>
   <p>Quantity  <input type = "text" name = "Quantity" /></p>
   <p>Price     <input type ="text" name = "Price" /></p>
   <p><input type = "submit" value = "Submit" /></p>
      </form>
</body>
</html>